.DS_Store
.vscode
jars/fluenta.jar
out
bin
conf
include
legal
lib
release
dist
js
node_modules
package-lock.json
docs/en/out
docs/es/out
out-test/TEST-com.maxprograms.utils.TextUtilsTest.xml
target*
testclasses/*
test-files/dita-sample-project/fluenta-home/*
test-files/dita-sample-project/xliff/*
test-files/dita-sample-project/dita-import/*
test-files/dita-sample-project/xliff-translated/*
