.DS_Store
.vscode
jars/fluenta.jar
out
bin
conf
include
legal
lib
release
dist
js
node_modules
package-lock.json
docs/en/out
docs/es/out
out-test/TEST-com.maxprograms.utils.TextUtilsTest.xml
target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
target/surefire-reports/com.maxprograms.utils.TextUtilsTest.txt
target/surefire-reports/TEST-com.maxprograms.utils.TextUtilsTest.xml
testclasses/com/maxprograms/utils/TextUtilsTest.class
testclasses/META-INF/jpms.args
